*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato' sans-serif;
  min-height: 100vh;
}

h2 {
  font-size: 4.4rem;
}

a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
}

/* Margin Bottom Styles*/

.margin-bottom-big {
  margin-bottom: 4.8rem;
}

/* Button Styles */

.btn-container {
  min-height: 60vh;
  padding: 4.8rem 2.4rem;
}

.btn:visited,
.btn:link {
  color: darkblue;
  padding: 1.6rem 3.2rem;
  border: 2px solid darkblue;
  position: relative;
}

.btn--slide::before {
  content: '';
  background-color: rgb(24, 173, 219);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.btn--slide:hover.btn::before {
  transform: scaleX(1);
}
